VITE_LOGO_API_BASE="logo api url"
VITE_API_URL=https://api.leetcodepremium.xyz
VITE_LOGO_TOKEN="logo token"

# VITE_RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID

# VITE_RAZORPAY_KEY_ID=rzp_live_YOUR_LIVE_KEY_ID
